<!DOCTYPE html>
<head>
    <title>CRUD OPERATION WITH POSTGRESQL</title>
</head>
<body>
    <center>
        <h1>HOSPITAL MANAGEMENT SYSTEM</h1>
        <h3>WRITTEN BY MADIYAR ON DJANGO AND POSTGRESQL</h3>
        <hr/>
        <tr>
            <td>Username</td>
            <td><input type="text" name="user"></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type="text" name="password"></td>
        </tr>
        <a href = "{% url 'checkadmin' %}">Sign In</a>
       
</body>
</html>